<h1 highlight>Buy Items</h1>
<div highlight class="mb-2">
  <div highlight class="mb-2">
	Item: <input [(ngModel)]="itemName"/>
  </div>
	<div highlight class="mb-2">
		Count: <input [(ngModel)]="itemCount"/>
  </div>
  <button highlight class="btn mr-2" (click)="onCart(itemName,itemCount)">AddToCart</button>
  <button highlight class="btn mr-2" (click)="onBuy()">Buy</button>
  <button highlight class="btn mr-2" (click)="onBack()">Back</button>
</div>
<div>
{{paidMessage}}
<h3 highlight >AddedItems</h3>
</div>
<div *ngFor="let item of appService.items" class="mb-2">
  <div highlight>Item: {{ item.itemName }}</div>
  <div highlight>Count: {{ item.itemCount }}</div>
</div>
  